aniso8601==9.0.1
attrs==22.1.0
certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.2
elastic-enterprise-search==7.15.0
elastic-transport==7.15.0
elasticsearch==7.15.0
Flask==2.0.2
Flask-Pydantic==0.11.0
flask-restx==1.0.3
gunicorn==20.1.0
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.2
jsonschema==4.17.3
MarkupSafe==2.0.1
pydantic==1.10.2
PyJWT==2.2.0
pyrsistent==0.19.2
python-dateutil==2.8.2
pytz==2022.7
requests==2.26.0
six==1.16.0
typing_extensions==4.4.0
urllib3==1.26.7
Werkzeug==2.0.2
